
@keyframes slideInLeft {
    from{
        transform: translate(-300px);
    }

    to{
        transform: translate(0);
    }
}

.slideInLeft{
    animation: slideInLeft 1.5s ease-in 0s 1 both;
}

.slideInLeft2{
    animation: slideInLeft 2s ease-in 0.5s 1 both;
}


@keyframes slideInRight {
    from{
        transform: translate(300px);
    }

    to{
        transform: translate(0);
    }
}

.slideInRight{
    animation: slideInRight 1.5s ease-in-out 0s 1 both;
}
  
.card-style {
    border-radius: 20px !important;
    box-shadow: 5px 5px 8px;
}

.outfitStyle {
    border-radius: 20px !important;
    box-shadow: 5px 5px 8px;
    max-height: 1500px !important;
    
}

.delete{
    background-color: antiquewhite;
    border-radius: 20px;
    
}

.delete:hover{
    color:white;
    background-color:red;
}

.overflows {
    overflow-y: scroll; 
    max-height: 200px; 
    padding-right: 15px; 
}

.deleteOutfit{
   background-color: burlywood;
   margin-right: 20px;
   border-radius: 100%;
   padding: 3px;
   margin-bottom: -30px;
   margin-top: -20px;
   width: 45px;
   height: 45px;
}

.deleteOutfit:hover{
    background-color: red;
    color: white;
}

.comment:hover{
    background-color: rgb(196, 182, 239);
}

.comment{
    position: relative;
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: -25px;
    border-radius: 100%;
    background-color: rgb(143, 228, 200);
    padding: 10px;
    font-weight: bolder;
    font-size: xx-large;
    width: 70px;
    height: 60px;
}

.card-style:hover{
   background: linear-gradient(15deg,#f5effb ,#daeeeb) !important; 
   
}

.outfitsImage {
    transition: transform 0.3s ease, height 0.3s ease;
 }
 
 .outfitsImage:hover {
    transform: scale(1.1);
     height: 100%; 
 }
 

.review{
    display: flex;
    justify-content:flex-start;
    
}
