
@keyframes slideInLeft {
    from{
        transform: translate(-300px);
    }

    to{
        transform: translate(0);
    }
}

.slideInLeft{
    animation: slideInLeft 1.5s ease-in 0s 1 both;
}

.slideInLeft2{
    animation: slideInLeft 2s ease-in 0.5s 1 both;
}


@keyframes slideInRight {
    from{
        transform: translate(300px);
    }

    to{
        transform: translate(0);
    }
}

.slideInRight{
    animation: slideInRight 1.5s ease-in-out 0s 1 both;
}
  
.card-style {
    border-radius: 20px !important;
    box-shadow: 5px 5px 8px;
}

.outfitStyle{
    border-radius: 20px !important;
    box-shadow: 5px 5px 8px;
    height: 600px;
    overflow: hidden;
    display: inline;
}

.overflows{
    overflow: scroll;
}

.comment{
    position: relative;
    margin-left: -10px;
    margin-top: -15px;
    margin-bottom: -25px;
    border-radius: 100%;
    background-color: rgb(143, 228, 200);
    padding: 10px;
    font-weight: bolder;
    font-size: xx-large;
    width: 70px;
    height: 60px;
}

.card-style:hover{
   background: linear-gradient(15deg,#f5effb ,#daeeeb) !important; 
   
}

.outfitsImage:hover{
   transform: scale(1.015);
}

.review{
    display: flex;
    justify-content:flex-start;
    
}
